---
import Section from "@/components/Section.astro";

import {fetchCV} from "@/api/cvApi"

const { lang = "en" } = Astro.props

const {work} = await fetchCV(lang)

---

<Section title={lang === "es" ? "Experiencia": "Experience"}>
    <div class="main">
        {
        work.map(({name, position, summary, highlights, startDate, endDate}) => {
        const years = startDate + " - " + (endDate ? endDate : ( lang === "es" ? "Actualidad" : "Currently" ))
        return (
        <article>
            <header>
                <div>
                    <h2>{name}</h2>
                    <h3>{position}</h3>
                </div>
                <time>{years}</time>
            </header>
            <main>
                {summary}
            </main>
            <footer>
                <ul>
                    {
                    highlights.map(h => {
                    return <li>{h}</li>
                    } )
                    }
                </ul>
            </footer>
        </article>)
        }) 
        }
    </div>
</Section>


<style>

h2 {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    font-weight: 500;
}

h3 {
    font-size: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: disc;
    font-size: 1rem;
    margin: 1.8rem 0;
}

li {
    margin-left: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

time {
    color: var(--tertiary-text-color);
    font-weight: 500;
    margin-bottom: 1rem;
}

</style>

