---
import Section from "@/components/Section.astro";


import {fetchCV} from "@/api/cvApi"

const {hardskills, softskills, certificates} = await fetchCV()

---

<Section>
  <div class="main">
    <div class="list">
      <h3>Habilidades blandas</h3>
      <ul>
    {
      softskills.map(s => {
        return (
        <li>{s}</li>
      ) 
      })
    }
      </ul>
    </div>
    <div class="list">
      <h3>Habilidades duras</h3>
      <ul>
    {
      hardskills.map(h => {
        return (
        <li>{h}</li>
      ) 
      })
    }
      </ul>
    </div>
    <div class="list">
      <h3>Certificaciones</h3>
      <ul>
    {
      certificates.map(({name}) => {
        return (
        <li>{name}</li>
      ) 
      })
    }
      </ul>
    </div>
  </div>
</Section>


<style>
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    gap: 5rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  ul {
    color: #555;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style: circle inside;
    font-size: .95rem;
    margin: 1.8rem 0;
  }

  .list {
    min-width: 80%;
  }


  @media screen and (min-width: 800px) {
    .main {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: normal;
      justify-content: normal;
      margin-left: 0;
    }

    .list {
      min-width: auto;
      width: calc(100% / 3);
    }
  }

  @media print {
    .main {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: normal;
      justify-content: normal;
      margin-left: 0;
    }

    .list {
      min-width: auto;
      width: calc(100% / 3);
    }
  }


</style>



