---
import Section from "@/components/Section.astro";

import { fetchCV } from "@/api/cvApi";

const {projects} = await fetchCV();
---

<Section title="Proyectos">
    <div id="projects">
    {
    projects.map(p => {
    return (
        <a href={p.url} title=`Enlace a ${p.name}` target="_blank">
            <div class="card">
                <h3>{p.name}</h3>
                <div class="content">
                    <img class="no-print" src={p.image} title={p.name} alt="Project Image" />
                    <img class="print" src={p.qrImage} title={p.name} alt="Project Image" />
                    <p>{p.description}</p>
                </div>
                <ul>
                    {p.technologies.map(t => {
                    return <li>{t}</li>
                    })
                }
                </ul>
        </div>
        </a>
        )
    })
    }
    </div>
</Section>

<style>
    #projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    .card {
        display: flex;
        width: 20rem;
        height: 25rem;
        flex-direction: column;
        border: #aaa 1px solid;
        border-radius: 10px;
        padding: 1rem;
        gap: 1rem;

        &:hover {
            background: #eee;
            border: #333 1px solid;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;
        }

        img {
            display:block;
            width: 150px;
            height: 150px;
            margin: 0 auto;
        }

        p {
            color: #777;
            margin: 0;
            padding: 0;
        }

        h3 {
            text-align: center;
            margin: 0;
            height: 2.5rem;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.8rem;
        }

        li {
            color: #000;
        }
    }


    a {
        display: block;
        max-width: 320px;
        color: black;
        text-decoration: none;
        font-size: 0.9rem;
        &:visited {
            color: black;
        }
    }

    @media print {

        #projects {
            width: 100%;
            flex-wrap: nowrap;
            gap: 1rem;
        }


        .card {
            page-break-inside:avoid;
            width: 10rem;
            height: 30rem;

            img {
                width: 80px;
                height: 80px;
            }

            h3 {
                font-size: 1rem;
            }
        }

        p, li {
            font-size: 0.9rem;
        }
    }
</style>

