---
import Layout from '@/layouts/Layout.astro';

import Projects from '@/components/Sections/Projects.astro';
import Education from '@/components/Sections/Education.astro';
import Experience from '@/components/Sections/Experience.astro';
import Hero from '@/components/Sections/Hero.astro';
import Skills from '@/components/Sections/Skills.astro';
import HardSoftSkillsCert from '@/components/Sections/HardSoftSkillsCert.astro';

import { fetchCV } from '@/api/cvApi';

const lang = "es"

const {basics} = await fetchCV(lang)
const {name, label} = basics

---

<Layout title={`CV de ${name} - ${label}`} lang={lang}>
    <main>
        <Hero lang={lang} />
        <Experience lang={lang} />
        <Projects lang={lang} />
        <Education lang={lang} />
        <Skills lang={lang} />
        <HardSoftSkillsCert lang={lang} />
    </main>
</Layout>

<style>
    main {
        padding: 1em;
        margin: auto;
        width: 100%;
    }
</style>
